@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidde;
    scroll-behavior: smooth;
}

.half-underline {
    position: relative;
}

.half-underline::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  background-color: rgba(27, 13, 111, 0.71);
  width: 40%;
  height: 4px;  
}

